
@media screen and (min-width: 500px) {
	.nav {
		overflow: hidden;
		background-color: #303030;
	}

	.name {
		float: left;
		display: block;
		color: white;
		text-align: center;
		text-decoration: none;
		padding-left: 20px;
		font-size: 30px;
		line-height: 0px;
	}


	.nav a {
		float: right;
		display: block;
		color: white;
		text-align: center;
		padding: 21px 20px;
		text-decoration: none;
	}

	.nav a:hover{
		background-color: #707D7B;
		color: yellow;
	}

	body {
		font-family: sans-serif;
		background-color: #E9E5E2; 
		color: #404040;
		overflow-y: scroll;
		overflow-wrap: normal;
	}

	html {
		scroll-behavior: smooth;
	}

	.centered {
		text-align: center;
	}

	.currentPage {
		background-color: #5B6157;
		color: #FFF;
	}

	.text {
		font-weight: 100;
		text-align: justify;
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 25px;
		line-height: 30px;
	}

	.link {
		color: #507;
	}

	.title {
		color: #111;
		font-weight: 1;
		text-align: left;
		font-size: 50px;
		line-height: 0px;
		padding-top: 20px;
		margin-left: 15%;
	}

	.heading {
		color: #111;
		font-weight: 1;
		text-align: left;
		font-size: 35px;
		line-height: 35px;
		padding-top: 20px;
		margin-left: 15%;
	}
		
	.text ul li{
		line-height: 35px;
	}

	.arrow img {
		position: fixed;
		right: 15px;
		bottom: 8px;
		width: 65px;
		
	}

	button {
		border: none; 
		appearance: none;
		background-color: inherit;
	}

	.toggleDark img {
		position: fixed;
		right: 15px;
		bottom: 84px;
		width: 65px;
	}


	.dark {
		font-family: sans-serif;
		background: #322c3b;
		color: #d7d1e0;
		overflow-y: scroll;
		overflow-wrap: normal;
	}

	.darkText {
		background: #322c3b;
		color: #d7d1e0;
		font-weight: 100;
		text-align: justify;
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		font-size: 25px;
		line-height: 30px;
	}

	.darkLink {
		color: red;
	}

	.darkTitle {
		color: #FFF;
		font-weight: 1;
		text-align: left;
		font-size: 50px;
		line-height: 0px;
		padding-top: 20px;
		margin-left: 15%;
	}

	.darkHeading {
		color: #FFF;
		font-weight: 1;
		text-align: left;
		font-size: 35px;
		line-height: 35px;
		padding-top: 20px;
		margin-left: 15%;
	}

}



@media screen and (max-width: 499px) 
{

.disappear{
	display: none;
}
.nav {
	overflow: hidden;
	background-color: #303030;
}

.name {
	float: left;
	display: none;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-left: 15px;
	font-size: 26px;
	line-height: 0px;
}


.nav a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 15px 5px;
	text-decoration: none;
}

.nav a:hover{
	background-color: #707D7B;
	color: yellow;
}

body {
	font-family: sans-serif;
	background-color: #E9E5E2; 
	color: #404040;
	overflow-y: scroll;
	overflow-wrap: normal;
}

html {
	scroll-behavior: smooth;
}

.centered {
	text-align: center;
}

.currentPage {
	background-color: #5B6157;
	color: #FFF;
}

.text {
	font-weight: 100;
	text-align: justify;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 25px;
	line-height: 35px;
}

.link {
	color: #507;
}

.title {
	color: #111;
	font-weight: 1;
	text-align: left;
	font-size: 40px;
	line-height: 0px;
	padding-top: 10px;
	margin-left: 5%;
}

.heading {
	color: #111;
	font-weight: 1;
	text-align: left;
	font-size: 35px;
	line-height: 35px;
	padding-top: 20px;
	margin-left: 5%;
}
	
.text ul li{
	line-height: 35px;
}

.arrow img {
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 10%;
	
}

button {
	border: none; 
	appearance: none;
	background-color: inherit;
}

.toggleDark img {
	position: fixed;
	right: 2%;
	bottom: 10%;
	width: 10%;
}


.dark {
	font-family: sans-serif;
	background: #322c3b;
	color: #d7d1e0;
	overflow-y: scroll;
	overflow-wrap: normal;
}

.darkText {
	background: #322c3b;
	color: #d7d1e0;
	font-weight: 100;
	text-align: justify;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 25px;
	line-height: 35px;
}

.darkLink {
	color: red;
}

.darkTitle {
	color: #FFF;
	font-weight: 1;
	text-align: left;
	font-size: 40px;
	line-height: 0px;
	padding-top: 10px;
	margin-left: 5%;
}

.darkHeading {
	color: #FFF;
	font-weight: 1;
	text-align: left;
	font-size: 35px;
	line-height: 35px;
	padding-top: 20px;
	margin-left: 5%;
}

}